---
import MainLayout from "../layouts/MainLayout.astro";
title: "about"
---

<MainLayout>
	<div class="container mt-5">
		<div class="row about">
			<div class="col-md-6">
				<div class="about-content">
					<h1>A web knowledge sharing blog.</h1>
					<p>My name is Amit Singh. I'm a Full stack developer based in Delhi, India, Mich.. I've been passionate about HTML, CSS, JS and Other backend technology for my entire career, and I want to teach you to be just as passionate about it, as well.</p>

					<p>I've spoken about modern CSS. I write regularly about Front-End And Back-End on my own blog.</p> 
					<p>I've been in the industry over a decade and have worked in many capacities. Take a look at my <a target="_blank" href="https://www.linkedin.com/in/amit-kumar-48a56176/">LinkedIn profile for a full resumé</a></p>
				</div>
			</div>
			<div class="col-md-6">
				<img width="100%" src="https://images.squarespace-cdn.com/content/v1/5d38a848ff86750001afa13e/1564063021110-T94B1JZN9HD0Z0K276S5/38_AP_Ciambottini_v1-065.jpg" alt="">
			</div>
		</div>
		
	</div>
</MainLayout>

<style is:global >
p {	
	font-size: 20px;
}
li {
	font-size: 22px;
}
h1 {
	font-family: var(--heading-font);
	color : var(--secondary-color);
}

strong {
	color:var(--body-color);
}
h1.name {
	font-size: 55px;
}

.submit-btn {
	background:var(--secondary-color);
	color:var(--secondary-body-color);
	font-weight:bold;
	outline: none;
	border: none;
	padding: 7px 40px;
	border-radius: 3px;
}

h1.story, h1.crazy-part {
	font-size: 28rem;
}

.about {
	display:flex;
	align-items: center;
	margin-top:100px;
	margin-bottom:100px;
}
.about-content {
	margin-right:60px	
}

.about-content p {
	font-size:16px;
}

.about-content a {
	color:var(--secondary-color);
}
</style>
