---
import FrontImageSlider from "../components/FrontImageSlider";
import MainLayout from "../layouts/MainLayout.astro";
import FrontBlogPosts from "../components/FrontBlogPosts.astro";
let allPosts = await Astro.glob('../pages/posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishedDate).valueOf() - new Date(a.frontmatter.publishedDate).valueOf());
---

<MainLayout>
	<div class="container main-page ">
		<main role="main" class="inner cover ">
			<FrontImageSlider posts={allPosts} client:idle  />
		</main>
	</div>
	<FrontBlogPosts />
	<div class="container p-5">
		<h1>Most Popular Posts</h1>
		<FrontImageSlider posts={allPosts} client:idle  />
	</div>
	
	<style>
		.main-page {

			padding: 50px 20px;
			border-radius:10px;
		}
		.submit-btn {
			background: var(--secondary-color);
			border:none;
		}
		.cover-heading {
			font-size: 50px;
			color:var(--secondary-color);
		}
		h1,h2 {
			font-family: var(--heading-font);
			
		}

		/* body {
			background: -webkit-linear-gradient(45deg, var(--primary-color), var(--secondary-color) 80%);
		} */
	</style>

</MainLayout>



