---
import MainLayout from "../layouts/MainLayout.astro";

import BlogHeader from "../components/BlogHeader.astro";
import BlogContent from "../components/BlogContent.astro";
---

<MainLayout>
	<div class="container main-page ">
		<main role="main" class="inner cover ">
			
		</main>
	</div>
	<style>
		.main-page {
			max-width:800px;
			margin-top:200px;
		
			padding: 50px 80px;
			border-radius:10px;
		}
		.submit-btn {
			background: var(--secondary-color);
			border:none;
		}
		.cover-heading {
			font-size: 50px;
			color:var(--secondary-color);
		}
		h1,h2 {
			font-family: var(--heading-font);
			
		}

		/* body {
			background: -webkit-linear-gradient(45deg, var(--primary-color), var(--secondary-color) 80%);
		} */
	</style>

</MainLayout



