---
import Posts from "./Posts.astro";
import BlogSidebar from "./BlogSidebar.astro";
---

<section class="blog-content mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <Posts />
            </div>
            <div class="col-md-4">
                <BlogSidebar />
            </div>
        </div>
        
    </div>
</section>

<style>

.blog-content {
    margin-top:100px;
}

</style>