---
import Posts from "./Posts.astro";
---

<section class="blog-content mt-5 mb-5">
    <div class="container">
        <div class="blog-header">
        <h1></h1>
        </div>
        <Posts />
    </div>
</section>

<style>
.blog-content h1{
	font-size:3rem;
}


</style>