---
    
---
<footer class="text-muted p-5">
    <div class="container">
        <div class="footer-text">
            <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
            <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
        </div>
        <div class="back-to-top-btn">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
        </div>
    </div>
</footer>


<style>
    footer {
       margin-top: auto;
       background-color: var(--primary-color);
    }
    footer .container {
        display: flex;
        justify-content:space-between;
    }


    footer p {
        margin: 10px ;
    }

    a {
        color: var(--secondary-color) !important;
    }
    
</style>