---
  var CurrentPage = Astro.canonicalURL.pathname;

---
<nav class="navbar navbar-expand-lg bg-none">
  <div class="container-fluid container p-2">
    <a class="navbar-brand" href="#">Hi.</a>
<!-- 
      Select You Custome Color 
      <input id="custom-color" type="color" />
      <input id="custom-color-primary" type="color" />
        -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link ${ CurrentPage == '/' ? 'active' : '' }" aria-current="page" href="/">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link ${ (CurrentPage == '/blog/' || CurrentPage.includes('posts')) ? 'active' : '' }" href="/blog">Blog</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link ${ CurrentPage == '/about/' ? 'active' : '' }" href="/about">About</a>
        </li>
      </ul>
      
      <div class="navbar-text social-icon">
        <ul class="d-flex list-unstyled">
          <li><a target="_blank" href="https://github.com/amitsingh17051/"><i class="fa-brands fa-github"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/in/amit-kumar-48a56176/"><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a target="_blank" href="https://twitter.com/amitsingh17051"><i class="fa-brands fa-twitter-square"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<script>
  
</script>

<style>

:root {
  --primary-color: #f5eec2;
  --secondary-color: #416a59;
  --body-color:#111;
  --heading-font: 'Prata', serif;
}

.social-icon li {
  margin-left:20px;
  font-size:20px;
} 

#navbarText {
  display: flex !important;
    justify-content: center;
    align-items: center;
}
.social-icon i {
  color:var(--body-color);
} 
.social-icon i:hover {
  color:var(--secondary-color);
  cursor: pointer;
} 
.navbar-brand {
  font-size: 32px;
  color:var(--body-color);
}

#custom-color {
  margin-left:25px;
}

.nav-link {
  font-size: 18px;
  margin-left:20px;
}
.nav-link.active {
	border-bottom: 1px solid var(--body-color);
}
.nav-link:hover {
	color:var(--body-color);
}
</style>