---
import BaseHeader from "../components/BaseHeader.astro";
import TopNavigation from "../components/TopNavigation.astro";
import Footer from "../components/footer.astro";
import ContactForm from "../components/ContactForm.astro";
---

<html lang="en">
	<head>
		<BaseHeader />
	</head>
	<body>
		<TopNavigation />
		<slot />
		<ContactForm />
        <Footer />

		
	</body>
</html>
<style>
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		
		background: var(--primary-color);
	}

	footer {
		margin-top: auto;
	}

	.contact{
		background: white;
		padding : 100px 0px;
	}
	.form-section h1, .form-section p {
		color:var(--secondary-color)
	}

	.form-section button {
		width:100%;
		padding:10px;
		border: 2px solid var(--secondary-color);
		background:var(--secondary-color);
		font-weight: bold;
	}
	
	.form-section button:hover {
		background-color: white;
		
		color:var(--secondary-color);
	}
	.form-section input {
		padding:10px;
		
	}
</style>