---
import BaseHeader from "../components/BaseHeader.astro";
import TopNavigation from "../components/TopNavigation.astro";
import Footer from "../components/footer.astro";
---

<html lang="en">
	<head>
		<BaseHeader />
	</head>
	<body>
		<TopNavigation />
		<slot />
        <Footer />

		
	</body>
</html>
<style>
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		color:var(--body-color) !important;
		background: -webkit-linear-gradient(45deg, var(--primary-color), var(--secondary-color) 80%);

	}

	footer {
		margin-top: auto;
	}
</style>