---
import BaseHeader from "../components/BaseHeader.astro";
import TopNavigation from "../components/TopNavigation.astro";
import Footer from "../components/footer.astro";
import ContactForm from "../components/ContactForm.astro";
const { content } = Astro.props;

---

<html lang="en">
  <head>
     <BaseHeader />
  </head>

  <body>
    <TopNavigation />
    <main>
      <div class="container">
        <div class="flex flex-grow justify-center min-h-screen">
          <article class="w-screen max-w-4xl p-8">
            <p class="mt-5 text-center">{content.publishedDate}</p>

            <h1 class="mb-5 text-center"> {content.title} </h1>
            <slot/>
          </article>  
        </div>
        
      </div>
    </main>
    <ContactForm />
    <Footer />
    
  </body>
</html>


<style>
  body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
    color:var(--body-color) !important;
    background: var(--primary-color);
	}
  h1,h2 {
    font-family: var(--heading-font);
    color : var(--body-color);
  }
  
</style>